<div class="container">
  <div class="row" style="padding: 5px">
    <div class="col-md-8">
      <img
        class="img-fluid"
        src="assets/image/login_page.png"
        style="height: 400px;opacity: 0.9;box-shadow: 12px 12px 18px 4px rgba(40, 41, 43, 0.7);"
        alt="Celebrate7"
      />
    </div>
    <div class="col-md-4">
      <div class="llogin-card mmt-5">
    <h3 class="text-center mb-4">
      Login via OTP<br />
      <!-- <a href="javascript:;" (click)="toggleMode()" style="font-size: 14px">
        Switch to {{ useEmail ? "Mobile" : "Email" }} Login
      </a> -->
    </h3>
    <div class="mb-3" *ngIf="!useEmail">
      <label for="phone" class="form-label">Mobile Number</label>
      <input
        type="tel"
        class="form-control"
        [(ngModel)]="mobile"
        placeholder="Enter your mobile number"
        required
      />
    </div>
    <div class="mb-3" *ngIf="useEmail">
      <label for="phone" class="form-label">Email Address</label>
      <input
        type="email"
        class="form-control"
        [(ngModel)]="email"
        placeholder="Enter registered email address"
        required
      />
    </div>
    <div *ngIf="!otpSent" class="d-grid mb-3">
      <button type="button" (click)="sendOtp()" class="btn btn-primary">
        Send OTP
      </button>
    </div>
    <div *ngIf="otpSent" style="margin-top: 20px">
      <div class="mb-3">
        <label for="otp" class="form-label">Enter OTP</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="otp"
          placeholder="6-digit OTP"
        />
      </div>

      <div class="d-grid">
        <button type="submit" (click)="verifyOtp()" class="btn btn-primary">
          Verify OTP
        </button>
      </div>
    </div>
    <!-- <div *ngIf="message" style="margin-top: 15px; color: darkblue">
      {{ message }}
    </div> -->
    <p class="text-center mt-3">
      Don't have an account? <a routerLink="/register">Register</a>
    </p>
  </div>
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-spin-clockwise"  style="background-color: aliceblue;">
  <p style="color: white"><i class="fa fa-circle-o-notch fa-spin fa-4x text-danger" aria-hidden="true"></i>Sending OTP...Please Wait</p>
</ngx-spinner>

