<div class="container">

  <h2>Add New Event</h2>

  <div >

  </div>


  <div class="row">
    <form (ngSubmit)="onSubmit()" #eventForm="ngForm" class="card p-3">
      <div class="row">
        <div class="col-md-12 pb-3">
          <label for="eventName">Event Name:</label>
          <input
            class="form-control"
            type="text"
            id="eventName"
            name="eventName"
            [(ngModel)]="event.eventName"
            required
          />
        </div>

        <div class="col-md-4 pb-3">
          <label for="type">Type:</label>

          <select
            name="type"
            id="type"
            class="form-control"
            [(ngModel)]="event.type"
          >
            <option value="">Festival</option>
            <option value="">Sports</option>
            <option value="">Party</option>
            <option value="">Charity</option>
            <option value="">Cultural</option>
            <option value="">Event</option>
          </select>
        </div>

        <div class="col-md-4 pb-3">
          <label for="eventDate">Date:</label>
          <input
            class="form-control"
            type="date"
            id="eventDate"
            name="eventDate"
            [(ngModel)]="event.eventDate"
            required
          />
        </div>

        <div class="col-md-4 pb-3">
          <label for="eventTime">Time:</label>
          <input
            class="form-control"
            type="time"
            id="eventTime"
            name="eventTime"
            [(ngModel)]="event.eventTime"
            required
          />
        </div>

        <div class="col-md-4 pb-3">
          <label for="country">Country:</label>
          <input
            class="form-control"
            type="text"
            id="country"
            name="country"
            [(ngModel)]="event.country"
            required
          />
        </div>
        <div class="col-md-4 pb-3">
          <label for="state">State:</label>
          <input
            class="form-control"
            type="text"
            id="state"
            name="state"
            [(ngModel)]="event.state"
            required
          />
        </div>
        <div class="col-md-4 pb-3">
          <label for="city">City:</label>
          <input
            class="form-control"
            type="text"
            id="city"
            name="city"
            [(ngModel)]="event.city"
            required
          />
        </div>



        <div class="pb-3">
          <label for="fullAddress">Full address:</label>
          <input
            class="form-control"
            type="text"
            id="fullAddress"
            name="fullAddress"
            [(ngModel)]="event.fullAddress"
            required
          />
        </div>

        <div>
          <label for="location">Description:</label>
          <quill-editor [(ngModel)]="content"></quill-editor>
          <div [innerHTML]="content"></div>
        </div>

        <div class="pb-3">
          <!-- [disabled]="!eventForm.form.valid" -->
          <button
            class="btn btn-primary"
            type="submit"
          >
            Next
          </button>
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="submitted">
    <h3>Event Added:</h3>
    <p><strong>Name:</strong> {{ event.eventName }}</p>
    <p><strong>Date:</strong> {{ event.eventDate }}</p>
    <!-- <p><strong>Location:</strong> {{ event.location }}</p> -->
  </div>
</div>
