.rainbow {
  font-size: 1.5rem;
  font-weight: 800;
  background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text; /* for Safari/Chrome */
  background-clip: text;
  color: transparent;               /* show the gradient through text */
}