<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Celebrate7</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/events">Find Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/contactUs">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->

  <header class="pro-navbar">
  <div class="nav-left">
    <a class="brand" href="#">
        <div class="logo"><img src="assets/image/celebrate7.png" alt="" height="65px" width="70px" sstyle="margin-top:-20px; position: absolute;z-index: 99999;"></div>
        <div>
          <div class="rainbow">Celebrate7</div>
          <div style="font-size:12px;color:#fc946f;">Event, Shows & more</div>
        </div>
      </a>
  </div>

  <button class="hamburger" (click)="isMenuOpen = !isMenuOpen">
    <span></span><span></span><span></span>
  </button>

  <div class="nav-right" [class.open]="isMenuOpen">

    <div class="search-wrapper">
      <input type="search" placeholder="Search events, shows, venues..." />
      <button>Search</button>
    </div>

    <nav>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">Home</a>
      <a routerLink="/events" routerLinkActive="active">Find events</a>
      <a routerLink="/about-us" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">About Us</a>
      <a routerLink="/contactUs" routerLinkActive="active">Contact us</a>

      <a *ngIf="!isLoggedIn?.SA && !isLoggedIn?.Admin" 
         routerLink="/login" routerLinkActive="active">Login</a>

      <a *ngIf="isLoggedIn?.SA && !isLoggedIn?.Admin"
         routerLink="/sa-dashboard" routerLinkActive="active">My Account</a>

      <a *ngIf="!isLoggedIn?.SA && isLoggedIn?.Admin"
         routerLink="/dashboard" routerLinkActive="active">My Account</a>
    </nav>
  </div>

  <!-- Background overlay -->
  <div class="overlay" [class.show]="isMenuOpen" (click)="isMenuOpen = false"></div>
</header>
