<div class="card" *ngIf="isDefaultView">
  <div class="card-header">
    <h4>
      Event Organizers
      <button (click)="setViewMode('New')" class="btn btn-primary float-end">
        <i class="fa fa-plus"></i> New
      </button>
    </h4>
  </div>
  <div class="card-body">
    <!-- Filter Bar -->
    <div class="row mb-3">
      <div class="col-md-2">
        <select
          class="form-select"
          [(ngModel)]="selectedLocation"
          (change)="applyFilters()"
        >
          <option value="">All Locations</option>
          <option *ngFor="let loc of locations" [value]="loc">{{ loc }}</option>
        </select>
      </div>
      <div class="col-md-2">
        <select
          class="form-select"
          [(ngModel)]="selectedStatus"
          (change)="applyFilters()"
        >
          <option value="">All Statuses</option>
          <option *ngFor="let status of statuses" [value]="status">
            {{ status }}
          </option>
        </select>
      </div>
      <div class="col-md-4">
        <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search" />
      </div>
      <div class="col-md-1">
        <button class="btn btn-secondary">
          <i class="fa fa-search"></i>
        </button>
      </div>
      <div class="col-md-3">
        <button class="btn btn-default float-end" (click)="resetFilters()">
          <i class="fa fa-download"></i> Download
        </button>
      </div>
    </div>

    <!-- Table -->
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead class="table-light">
          <tr>
            <th>Organizer Name</th>
            <th>Contact Person</th>
            <th>Organization Type</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Country</th>
            <th>State/Region</th>
            <th>City</th>
            <th>Status</th>
            <th style="width: 120px">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let org of paginatedOrganizers">
            <td>{{ org.organizer_name }}</td>
            <td>{{ org.contact_name }}</td>
            <td>{{ org.type_of_organization }}</td>
            <td>{{ org.email }}</td>
            <td>{{ org.phone }}</td>
            <td>{{ org.country }}</td>
            <td>{{ org.state }}</td>
            <td>{{ org.city }}</td>
            <td>{{ org.status }}</td>
            <td class="text-center">
              <button
                class="btn btn-sm btn-secondary me-1"
                (click)="editOrganizer(org)"
              >
                <i class="fa fa-edit"></i>
              </button>
              <button
                class="btn btn-sm btn-secondary"
                (click)="confirmDelete(org)"
              >
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
          <tr *ngIf="paginatedOrganizers.length === 0">
            <td colspan="6" class="text-center">No organizers found</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <!-- Pagination -->
    <nav *ngIf="totalPages() > 1">
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" (click)="currentPage = currentPage - 1"
            >Previous</a
          >
        </li>
        <li
          class="page-item"
          *ngFor="let page of [].constructor(totalPages()); let i = index"
          [class.active]="currentPage === i + 1"
        >
          <a class="page-link" (click)="currentPage = i + 1">{{ i + 1 }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages()">
          <a class="page-link" (click)="currentPage = currentPage + 1">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="card" *ngIf="!isDefaultView">
  <div class="card-header">
    <h4>
      New Organizer
      <button (click)="setViewMode('Back')" class="btn btn-default float-end">
        <i class="fa fa-arrow-left"></i> Back
      </button>
    </h4>
  </div>
  <div class="card-body">
    <div class="modal-body">
      <div class="mb-3">
        <label class="form-label">Organizer Name</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="selectedOrganizer.organizer_name"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Contact Person</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="selectedOrganizer.contact_name"
          required
        />
      </div>
      <div class="mb-3">
              <label for="name" class="form-label"
                >Organization Type</label
              >
              <select [(ngModel)]="selectedOrganizer.type_of_organization" class="form-control">
                <option value="">--Select--</option>
                <option value="Individual">Individual</option>
                <option value="Company">Company</option>
                <option value="Firm">Firm</option>
                <option value="NGO">NGO</option>
                <option value="Other">Other</option>
              </select>
            </div>
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          [(ngModel)]="selectedOrganizer.email"
          name="email"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Phone</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="selectedOrganizer.phone"
          name="phone"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Country</label>
        <select
        (change)="onChangeCountry()"
          class="form-select"
          [(ngModel)]="selectedOrganizer.country"
          required
        >
          <option value="">Select Country</option>
          <option *ngFor="let country of Countries" [value]="country.shortName">{{country?.name}}</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label">State/Region</label>
        <select
        (change)="onChangeState()"
          class="form-select"
          [(ngModel)]="selectedOrganizer.state"
          required
        >
          <option value="">Select State/Region</option>
          <option *ngFor="let state of States" [value]="state">{{state}}</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label">City</label>
        <select
          class="form-select"
          [(ngModel)]="selectedOrganizer.city"
          name="location"
          required
        >
          <option value="">Select City</option>
          <option *ngFor="let city of Cities" [value]="city.name">{{city.name}}</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label">Status</label>
        <select
          class="form-select"
          [(ngModel)]="selectedOrganizer.status"
          name="status"
          required
        >
          <option value="">Select Status</option>
          <option *ngFor="let status of statuses" [value]="status">
            {{ status }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button
      (click)="upsertOrganizer()"
      class="btn btn-primary"
    >
      Save
    </button>
    <button
      (click)="setViewMode('Cancel')"
      class="btn btn-default"
      style="margin-right: 10px"
    >
      Cancel
    </button>
  </div>
</div>
