<footer class="bms-footer">
  <div class="footer-line"></div>

  <div class="footer-logo-wrapper">
  <img src="assets/image/celebrate7_transparent.png" alt="celebrate7" class="footer-logo-img" />

  <div>
    <div class="footer-logo-title">Celebrate7</div>
    <div class="footer-logo-subtitle">Event, Shows & more</div>
  </div>
</div>


  <div class="social-icons">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <!-- <a href="#"><i class="fab fa-twitter"></i></a> -->
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
    <!-- <a href="#"><i class="fab fa-pinterest"></i></a>
    <a href="#"><i class="fab fa-linkedin-in"></i></a> -->
  </div>

  <p class="copyright-text">
    Copyright © 2025 celebrate7.com — All Rights Reserved.
  </p>

  <p class="info-text">
    The content and images used on this site are copyright protected and belong to
    their respective owners. Unauthorized use is prohibited and punishable by law.
  </p>
</footer>
