<div class="container">
  <!-- <div>
    <button mat-icon-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div> -->

  <!-- Stepper Navigation -->

  <div class="card border shadow">
    <ul class="nav nav-pills mb-4 justify-content-center sticky-stepper" *ngIf="activeForm !== 5">
      <li class="nav-item" *ngFor="let step of steps; let i = index">
        <button
          class="nav-link d-flex align-items-center gap-2"
          [class.active]="currentStep === i + 1"
          [class.disabled]="currentStep < i + 1"
          (click)="goToStep(i + 1)"
        >
          <i [class]="step.icon"></i>
          <span>Step {{ i + 1 }}: {{ step.label }}</span>
        </button>
      </li>
    </ul>

    <div class="p-3">
      <div class="form1" *ngIf="activeForm === 1">
        <div class="row">
          <!-- <form (ngSubmit)="onSubmit()" #eventForm="ngForm" class=""> -->
          <div class="row">
            <div class="col-md-12 pb-3">
              <label for="eventName">Event Name:</label>
              <input
                class="form-control"
                type="text"
                id="eventName"
                name="eventName"
                [(ngModel)]="event.eventName"
                required
              />
            </div>
            <div class="col-md-12 pb-3">
              <label for="organizer">Organizer:</label>
              <input
                class="form-control"
                type="text"
                id="organizer"
                name="organizer"
                [(ngModel)]="event.organizer"
                required
              />
            </div>

            <div class="col-md-4 pb-3">
              <label for="type">Type:</label>

              <select
                name="type"
                id="type"
                class="form-control"
                [(ngModel)]="event.type"
              >
                <option value="Festival">Festival</option>
                <option value="Sports">Sports</option>
                <option value="Party">Party</option>
                <option value="Charity">Charity</option>
                <option value="Cultural">Cultural</option>
                <option value="Event">Event</option>
              </select>
            </div>

            <div class="col-md-4 pb-3">
              <label for="eventDate">Date:</label>
              <input
                class="form-control"
                type="date"
                id="eventDate"
                name="eventDate"
                [(ngModel)]="event.eventDate"
                required
              />
            </div>

            <div class="col-md-4 pb-3">
              <label for="eventTime">Time:</label>
              <input
                class="form-control"
                type="time"
                id="eventTime"
                name="eventTime"
                [(ngModel)]="event.eventTime"
                required
              />
            </div>

            <div class="col-md-12 pb-3">
              <label for="content">Description:</label>
              <quill-editor
                [(ngModel)]="content"
                name="editorContent"
              ></quill-editor>
              <!-- <div [innerHTML]="content"></div> -->
            </div>

            <!-- *********************************************** -->
            <!-- <div class="col-md-12 pb-3">
            <label for="mapSearch">Search Location on Map:</label>
            <input
              type="text"
              id="mapSearch"
              class="form-control"
              placeholder="Search for a place"
            />
            <div
              id="map"
              style="height: 400px; width: 100%; margin-top: 10px"
            ></div>
          </div> -->

            <!-- *********************************************** -->

            <!-- <div class="col-md-4 pb-3">
            <label for="country">Country:</label>
            <input
              class="form-control"
              type="text"
              id="country"
              name="country"
              [(ngModel)]="event.country"
              required
            />
          </div>
          <div class="col-md-4 pb-3">
            <label for="state">State:</label>
            <input
              class="form-control"
              type="text"
              id="state"
              name="state"
              [(ngModel)]="event.state"
              required
            />
          </div>
          <div class="col-md-4 pb-3">
            <label for="city">City:</label>
            <input
              class="form-control"
              type="text"
              id="city"
              name="city"
              [(ngModel)]="event.city"
              required
            />
          </div>
          <div class="pb-3">
            <label for="fullAddress">Full address:</label>
            <input
              class="form-control"
              type="text"
              id="fullAddress"
              name="fullAddress"
              [(ngModel)]="event.fullAddress"
              required
            />
          </div> -->

            <!-- <div class="pb-3" *ngIf="routeName !== 'edit-event'"> -->
            <div class="pb-3 text-right">
              <!-- [disabled]="!eventForm.form.valid" -->
              <button
                class="btn btn-primary"
                (click)="handleNext()"
                type="submit"
              >
                Next <i class="bi bi-arrow-right-circle"></i>
              </button>
            </div>
          </div>
          <!-- </form> -->
        </div>
      </div>

      <!-- *************************** form 2 ************************ -->
      <div class="form2" *ngIf="activeForm === 2">
        <div class="row">
          <!-- *********************************************** -->
          <div class="col-md-12 pb-3">
            <label for="mapSearch">Search Location on Map:</label>
            <input
              type="text"
              id="mapSearch"
              class="form-control"
              placeholder="Search for a place"
            />
            <div
              id="map"
              style="height: 300px; width: 100%; margin-top: 10px"
            ></div>
          </div>

          <!-- *********************************************** -->

          <div class="col-md-4 pb-3">
            <label for="country">Country:</label>
            <input
              class="form-control"
              type="text"
              id="country"
              name="country"
              [(ngModel)]="event.country"
              required
            />
          </div>
          <div class="col-md-4 pb-3">
            <label for="state">State:</label>
            <input
              class="form-control"
              type="text"
              id="state"
              name="state"
              [(ngModel)]="event.state"
              required
            />
          </div>
          <div class="col-md-4 pb-3">
            <label for="city">City:</label>
            <input
              class="form-control"
              type="text"
              id="city"
              name="city"
              [(ngModel)]="event.city"
              required
            />
          </div>
          <div class="pb-3">
            <label for="fullAddress">Full address:</label>
            <input
              class="form-control"
              type="text"
              id="fullAddress"
              name="fullAddress"
              [(ngModel)]="event.fullAddress"
              required
            />
          </div>
        </div>

        <div>
          <div class="pb-3">
            <div class="d-flex justify-content-between">
              <button
                class="btn btn-secondary"
                (click)="handlePrevious()"
                type="submit"
              >
                <i class="bi bi-arrow-left-circle"></i> Previous
              </button>

              <button
                class="btn btn-primary"
                (click)="handleNext()"
                type="submit"
              >
                Next <i class="bi bi-arrow-right-circle"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- *************************** form 3 ************************ -->

      <div class="form3" *ngIf="activeForm === 3">
        <div class="row">
          <!-- <div class="col-md-12 pb-3">
          <label for="country">Ticket Type:</label> &nbsp; &nbsp; &nbsp;
          <input
            type="radio"
            id="single"
            name="ticket_type"
            value="single"
            [(ngModel)]="ticket_details.ticket_type"
            required
          /> <label for="single">Single Ticket</label> 
          
          &nbsp; &nbsp;
          <input
            type="radio"
            id="multiple"
            name="ticket_type"
            value="multiple"
            [(ngModel)]="ticket_details.ticket_type"
            required
          /> <label for="multiple">Multiple Tickets</label> 
        </div> -->

          <div class="col-md-4 pb-3">
            <label for="country">Ticket Name:</label>
            <input
              class="form-control"
              type="text"
              id="country"
              name="country"
              [(ngModel)]="ticket_details.ticket_name"
              required
            />
          </div>
          <div class="col-md-8 pb-3">
            <label for="country">Ticket Details: (Optional)</label>
            <input
              class="form-control"
              type="text"
              id="country"
              name="country"
              [(ngModel)]="ticket_details.ticket_description"
              required
            />
          </div>

          <div class="col-md-2 pb-3">
            <label for="state">Price:</label>
            <input
              class="form-control"
              type="number"
              id="state"
              name="state"
              [(ngModel)]="ticket_details.ticket_price"
              required
            />
          </div>
          <div class="col-md-2 pb-3">
            <label for="state">Number of tickets:</label>
            <input
              class="form-control"
              type="number"
              id="state"
              name="state"
              [(ngModel)]="ticket_details.no_of_tickets"
              required
            />
          </div>

          <!-- <div class="col-md-2 pb-3">
          <label for="state"></label>
          <br>
          <input
            class="btn btn-primary"
            type="button"
            value="Add"
          />
        </div> -->
        </div>

        <div>
          <div class="pb-3">
            <div class="d-flex justify-content-between">
              <button
                class="btn btn-secondary"
                (click)="handlePrevious()"
                type="submit"
              >
                <i class="bi bi-arrow-left-circle"></i> Previous
              </button>

              <button
                class="btn btn-primary"
                (click)="handleNext()"
                type="submit"
              >
                Next <i class="bi bi-arrow-right-circle"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- *************************** form 4 ************************ -->

      <div class="form4" *ngIf="activeForm === 4">
        <div class="row">
          <div class="row">
            <!-- Other fields -->
            <app-file-upload
              (filesSelected)="onFilesReceived($event)"
              [staticFiles]="staticFiles"
            ></app-file-upload>

            <div class="d-flex justify-content-between">
              <!-- [disabled]="!eventForm.form.valid" -->
              <button
                class="btn btn-secondary mt-3"
                (click)="handlePrevious()"
                type="submit"
              >
                <i class="bi bi-arrow-left-circle"></i> Previous
              </button>

              <button
                *ngIf="routeName !== 'edit-event'"
                class="btn btn-success mt-3"
                type="submit"
                (click)="onSubmit()"
              >
                <i class="bi bi-check-circle"></i> Submit
              </button>

              <!-- <div class="pb-3" *ngIf="routeName === 'edit-event'"> -->
              <!-- [disabled]="!eventForm.form.valid" -->
              <button
                class="btn btn-success mt-3"
                *ngIf="routeName === 'edit-event'"
                (click)="onUpdate()"
              >
                Update event
              </button>

              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>

      <!-- success message -->

      <div class="form4" *ngIf="activeForm === 5">
        <div class="success-page card shadow p-5 mt-5 text-center">
          <div class="success-icon mb-4">
            <i
              class="bi bi-check-circle-fill text-success"
              style="font-size: 4rem"
            ></i>
          </div>

          <h2 class="text-success">Event Added Successfully!</h2>
          <p class="text-muted mb-4">
            The event has been saved and is now available in the system.
          </p>

          <div class="d-flex justify-content-center gap-3 flex-wrap">
            <button class="btn btn-outline-primary" routerLink="/view-event">
              <i class="bi bi-card-list me-2"></i> View All Events
            </button>

            <!-- routerLink="/add-event" -->
            <button
              class="btn btn-outline-success"
              (click)="reloadAddEvent()"
            >
              <i class="bi bi-plus-circle me-2"></i> Add Another Event
            </button>

            <button
              class="btn btn-outline-secondary"
              routerLink="/dashboard"
            >
              <i class="bi bi-house-door me-2"></i> Go to Dashboard
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
